<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/656de700-409d-4e46-bcde-b5526bb9181a/resourceGroups/FootballStatsApiResourceGroup/providers/Microsoft.Web/sites/FootballStatsApi20220403010523</ResourceId>
    <ResourceGroup>FootballStatsApiResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/656de700-409d-4e46-bcde-b5526bb9181a/resourceGroups/FootballStatsApiResourceGroup/providers/Microsoft.ApiManagement/service/FootballStatsApi/apis/FootballStatsApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://footballstatsapi20220403010523.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>cd676d8c-bda7-4b39-969d-509174e71b2a</ProjectGuid>
    <MSDeployServiceURL>footballstatsapi20220403010523.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FootballStatsApi20220403010523</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$FootballStatsApi20220403010523</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>